.delete:hover, .edit:hover {
    text-decoration: underline;
}

.delete, .edit {
    margin-left: 5px;
    visibility: hidden;
    float: right;
}



.message:hover .delete, .message:hover .edit {
    visibility: visible;
}