.title {
  overflow: hidden;
  height: 20px;
}

.title:before, .title:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  height: 3px;
  background: #05728f;
  border: solid #FFF;
  border-width: 0 10px;
}

.title:before {
  margin-left: -100%;
}

.title:after {
  margin-right: -100%;
}

.title-center {
  text-align: center;
}