body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100%;
  box-sizing: border-box;
  background-color: #f1f1f1;
}

header, .message-list {
  border: 1px solid #c4c4c4;
  background-color: white;
  box-shadow: 3px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

.message-list {
  grid-area: 2/1/3/2;
  height: 400px;
  overflow-y: scroll;
  padding: 10px;
  display: grid;
}

.message img.right {
  float: right;
  margin-left: 20px;
  margin-right: 0;
}

button {
  background-color: #05728f;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}
